@import "bootstrap";
@import 'restaurants';
$red: #da3743;

html, body {
  font-size: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  cursor: crosshair;
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;

 }

img {
  max-width: 100%;
  height: auto; }

*, *:before, *:after {
  box-sizing: inherit; }

a {
  color: black;
  &:hover{
    text-decoration: none;
  }
}

#logo{
  border-radius: 50%;
  color: white;
  border: solid white 2px;
  display: inline-block;
  margin: 10px;
  margin-left: 25px;
  font-size: 25px;
  padding: 6px;
}

#logo a{
  color: white;
  text-decoration: none;
}
.nav_link a {
  color: white;
  text-decoration: none;
  border: solid 3px white;
  padding: 8px;
  border-radius: 12px;
}

.nav_link a:hover{
  background-color: white;
  color: $red;
}
.page-wrapper {
  position: relative;
  max-width: 95%;
  margin: 0 auto; }

#header{
  background-color:$red;
  opacity: 0.9;
  height:70px;
}
