.btn {
  background-color:;
  border-radius: 5px;
}

.btn {
  font-size: 20px;
  font-family: Arial;
  text-decoration: none;
  background-color: teal;
  color: white;

}

a:hover {
  text-decoration: none;

}
