$red: #da3743;

.carousel,
.item,
.active {
    height:600px;
}

.carousel-inner {
    height: 100%;
}


.nav_link{
  display: inline-block;
  margin: 25px 10px;
}

#main-menu{
  margin-right: 30px;
    float: right;
}

.carousel_desc{
  font-size: 40px;
  z-index: 2;
  color: white;
  padding: 0;
  margin: 0;
}

.carousel-caption{
    background-color: rgba(0,0,0, 0.5);
    z-index: 1;
    margin-bottom: 230px;
    padding: 7px;

}

.flash_notices{
  font-size: 15px;
}

.flash_notices ul{
  font-size: 12px;
  line-height: 50%;
}

/*** RESTAURANT SECTION *****/

#restaurants_container{
  width:85%;
  margin: 0 auto;
  border-bottom: solid 1px darkgrey;
}
.restaurant{
  display: inline-block;
  float:left;
  margin:1.75%;
  border: solid 2px black;
  padding: 10px;
}

.restaurant_name{
  font-size: 18px;
  font-family: Arial;
  margin-top: 10px;
  margin-bottom: 0;

}

.restaurant_category{
  font-size: 16px;
  margin: 0;
  color: darkgrey;
}

.rest_title{
  text-align: center;
  font-size: 26px;
  margin-top: 30px;
  // margin-left: 290px;

}

.rest_desc {
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
    // margin-left: 290px;

}

.restaurant_image{
  max-width: 275px;
  max-height: 275px;
  margin: 0 auto;
  position: relative;

  &:after{
    position: absolute;
    // content:"";
    top:0;
    bottom:0;
    right:0;
    left:0;
    background-color: rgba(0,0,0, 0.2);
  }
}

.add_resto  {
  display: inline-block;
  border-radius: 10px;
  float: right;
  padding: 10px;
  color: white;
  font-size: 14px;
  background-color: $red;
  letter-spacing: 1px;
  margin-right: 180px;
}

.form_field,{
  display: inline-block;
  margin: 10px;
}

.form_button {
  padding: 7px;
  background-color: $red;
  color: white;
  border: none;
  border-radius: 10px;
}

.reservation_container{
  width:80%;
  margin: 30px auto;
}

.reserve_title{
  font-size: 26px;
  letter-spacing: 1px;
}

.form_box {
 padding: 5px;
}
