$red: #da3743;

.login_container{
  width:30%;
border: solid 5px $red;
  height:500px;
  margin:20px auto;
  padding: 7px;
  background-color: white;
}
.login_title{
  font-size: 18px;
}

.form_label{
  display: inline-block;
  color: darkgrey;
}
