
  <% @restaurants.each do |restaurant| %>
    <div class="restaurant">
      <div class="restaurant_image">
        <%= link_to image_tag(restaurant.img_link),restaurant_path(restaurant)%>
      </div>
      <p class="restaurant_name"><%=restaurant.name%></p>
      <p class="restaurant_category"><%=restaurant.category.name%></p>
    </div>
  <% end %>
